#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.4;
  background-image: url('../../../images/38d89ee0-8c6a-48e6-a313-e23e25dd4b54.jpg');
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1250.0px;
  max-height: 903.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  width: 579.8945312499997px;
  height: 447.9999279311203px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  position: absolute;
  width: 220.2109375px;
  min-height: 69.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 41.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 41.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_27 {
  position: absolute;
  width: 68.99999999999989px;
  height: 75.00000000000004px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Table_19 {
  position: absolute;
  width: 1249.999998672603px;
  height: 74.78184395440712px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .verticalalign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 {
  width: 33.33333333333333%;
  height: 100.0%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .Cell_46 > *:first-child {
  margin-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .Cell_46 > *:last-child {
  margin-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .Cell_46 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_46 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_111 {
  width: 40.01220703125px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_111 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_111 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_111 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_111 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_111 span#rtr-s-Paragraph_111_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_49 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_49 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_49 .verticalalign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_49 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_49 {
  width: 33.33333333333333%;
  height: 100.0%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_49 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_49 .Cell_49 > *:first-child {
  margin-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_49 .Cell_49 > *:last-child {
  margin-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_49 .Cell_49 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_49 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_116 {
  width: 124.6943359375px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_116 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_116 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_116 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_116 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_116 span#rtr-s-Paragraph_116_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_89 {
  width: 5.92px;
  height: 10.324025763005494px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_50 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_50 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_50 .verticalalign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_50 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_50 {
  width: 33.33333333333333%;
  height: 100.0%;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_50 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_50 .Cell_50 > *:first-child {
  margin-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_50 .Cell_50 > *:last-child {
  margin-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_50 .Cell_50 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_50 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_117 {
  width: 39.19921875px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_117 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_117 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_117 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_117 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_117 span#rtr-s-Paragraph_117_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Table_25 {
  position: absolute;
  width: 312.1072096155377px;
  height: 157.17661952974828px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 7px #666666);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Table_25 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.7);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Table_25 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_115 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_115 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_115 .verticalalign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_115 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_115 {
  width: 100.0%;
  height: 33.33333333333332%;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_115 .Cell_115 > * {
  margin-right: 14px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_115 .Cell_115 > *:last-child {
  margin-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_115 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_135 {
  width: 206.248046875px;
  min-height: 30.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_135 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_135 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_135 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_135 span#rtr-s-Paragraph_135_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_135 span#rtr-s-Paragraph_135_1 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_116 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_116 td.layout {
  padding: 0px 0px 0px 17px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_116 .verticalalign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_116 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_116 {
  width: 100.0%;
  height: 33.33333333333332%;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_116 .Cell_116 > * {
  margin-right: 12px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_116 .Cell_116 > *:last-child {
  margin-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_116 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_136 {
  width: 105.68212890625023px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_136 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_136 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_136 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_136 span#rtr-s-Paragraph_136_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_117 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_117 td.layout {
  padding: 0px 0px 0px 18px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_117 .verticalalign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_117 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_117 {
  width: 100.0%;
  height: 33.33333333333332%;
  cursor: pointer;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_117 .Cell_117 > * {
  margin-right: 15px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_117 .Cell_117 > *:last-child {
  margin-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Cell_117 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_155 {
  width: 171.68212890624994px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_155 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_155 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_155 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_155 span#rtr-s-Paragraph_155_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  position: absolute;
  width: 588.9208984374999px;
  min-height: 125.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  position: absolute;
  width: 558.8945312500001px;
  min-height: 23.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(102,102,102,0.7);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #CCCCCC;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 {
  position: absolute;
  width: 1250.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: rgba(102,102,102,0.7);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 {
  position: absolute;
  width: 108.515625px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #CCCCCC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}