#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 > #backgroundBox {
  position: absolute;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 > #backgroundBox > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.4;
  background-image: url('../../../images/56a6c396-351c-438e-a734-8e381fc1f22b.jpg');
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1250.0px;
  max-height: 1065.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_6 {
  position: absolute;
  width: 295.9999999999998px;
  min-height: 199.9999999999996px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_11 {
  position: absolute;
  width: 244.171875px;
  min-height: 136.9565217391302px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_11 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_12 {
  position: absolute;
  width: 78.69335937499955px;
  min-height: 47.826086956521465px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_12 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_1 {
  position: absolute;
  width: 229.9999999999999px;
  min-height: 200.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_1 {
  position: absolute;
  width: 181.171875px;
  min-height: 147.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_1 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_2 {
  position: absolute;
  width: 55.44140625px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Path_79 {
  position: absolute;
  width: 24.999787825941905px;
  height: 20.000000000000007px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_2 {
  position: absolute;
  width: 119.2109375px;
  min-height: 69.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 41.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 41.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Path_27 {
  position: absolute;
  width: 68.99999999999989px;
  height: 75.00000000000004px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_9 {
  position: absolute;
  width: 230.0px;
  min-height: 199.99999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_60 {
  position: absolute;
  width: 181.171875px;
  min-height: 75.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_60 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_60 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_60 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_60 span#rtr-s-Paragraph_60_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_5 {
  position: absolute;
  width: 67.693359375px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Path_132 {
  position: absolute;
  width: 14.999999999999883px;
  height: 20.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_2 {
  position: absolute;
  width: 230.0px;
  min-height: 199.99999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_3 {
  position: absolute;
  width: 181.171875px;
  min-height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_3 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_4 {
  position: absolute;
  width: 78.69335937499977px;
  min-height: 43.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Path_182 {
  position: absolute;
  width: 33.333333333333805px;
  height: 20.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_3 {
  position: absolute;
  width: 230.0px;
  min-height: 199.99999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_5 {
  position: absolute;
  width: 181.171875px;
  min-height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_5 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_6 {
  position: absolute;
  width: 78.69335937499977px;
  min-height: 43.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Path_70 {
  position: absolute;
  width: 25.000000000000156px;
  height: 20.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_4 {
  position: absolute;
  width: 230.0px;
  min-height: 199.99999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_7 {
  position: absolute;
  width: 181.171875px;
  min-height: 105.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_7 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_8 {
  position: absolute;
  width: 78.69335937499977px;
  min-height: 43.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_8 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Path_60 {
  position: absolute;
  width: 20.0547622601238px;
  height: 20.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Path_100 {
  position: absolute;
  width: 20.0px;
  height: 20.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_5 {
  position: absolute;
  width: 230.0px;
  min-height: 199.99999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_9 {
  position: absolute;
  width: 181.171875px;
  min-height: 147.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_9 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_10 {
  position: absolute;
  width: 78.69335937499977px;
  min-height: 43.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Path_34 {
  position: absolute;
  width: 24.997968681296584px;
  height: 20.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_7 {
  position: absolute;
  width: 1250.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: rgba(102,102,102,0.7);
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_13 {
  position: absolute;
  width: 108.515625px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_13 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #CCCCCC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_8 {
  position: absolute;
  width: 542.0000000000001px;
  min-height: 242.92906190492113px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_14 {
  position: absolute;
  width: 506.6930113636363px;
  min-height: 189.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_14 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_15 {
  position: absolute;
  width: 138.7632741477271px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_15 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Path_71 {
  position: absolute;
  width: 20.0px;
  height: 20.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_10 {
  position: absolute;
  width: 542.0000000000001px;
  min-height: 242.92906190492113px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_16 {
  position: absolute;
  width: 506.6930113636363px;
  min-height: 189.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_16 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_17 {
  position: absolute;
  width: 193.76327414772686px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_17 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Path_14 {
  position: absolute;
  width: 19.999999478459358px;
  height: 20.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Table_19 {
  position: absolute;
  width: 1250.0000000588602px;
  height: 74.78184395440724px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_46 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_46 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_46 .verticalalign {
  vertical-align: middle;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_46 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_46 {
  width: 33.33333333333333%;
  height: 100.0%;
  cursor: pointer;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_46 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_46 .Cell_46 > *:first-child {
  margin-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_46 .Cell_46 > *:last-child {
  margin-right: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_46 .Cell_46 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_46 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_111 {
  width: 40.01220703125px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_111 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_111 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_111 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_111 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_111 span#rtr-s-Paragraph_111_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_49 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_49 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_49 .verticalalign {
  vertical-align: middle;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_49 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_49 {
  width: 33.33333333333333%;
  height: 100.0%;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_49 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_49 .Cell_49 > *:first-child {
  margin-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_49 .Cell_49 > *:last-child {
  margin-right: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_49 .Cell_49 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_49 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_116 {
  width: 124.6943359375px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_116 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_116 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_116 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_116 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_116 span#rtr-s-Paragraph_116_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Path_89 {
  width: 5.92px;
  height: 10.324025763005494px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_50 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_50 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_50 .verticalalign {
  vertical-align: middle;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_50 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_50 {
  width: 33.33333333333333%;
  height: 100.0%;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_50 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_50 .Cell_50 > *:first-child {
  margin-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_50 .Cell_50 > *:last-child {
  margin-right: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_50 .Cell_50 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_50 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_117 {
  width: 39.19921875px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_117 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_117 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_117 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_117 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_117 span#rtr-s-Paragraph_117_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Table_25 {
  position: absolute;
  width: 312.107209961667px;
  height: 157.17661952974836px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 7px #666666);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Table_25 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.7);
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Table_25 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #666666;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_115 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_115 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_115 .verticalalign {
  vertical-align: middle;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_115 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_115 {
  width: 100.0%;
  height: 33.333333333333314%;
  cursor: pointer;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_115 .Cell_115 > * {
  margin-right: 14px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_115 .Cell_115 > *:last-child {
  margin-right: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_115 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_135 {
  width: 206.248046875px;
  min-height: 30.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_135 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_135 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_135 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_135 span#rtr-s-Paragraph_135_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_116 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_116 td.layout {
  padding: 0px 0px 0px 17px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_116 .verticalalign {
  vertical-align: middle;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_116 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_116 {
  width: 100.0%;
  height: 33.333333333333314%;
  cursor: pointer;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_116 .Cell_116 > * {
  margin-right: 12px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_116 .Cell_116 > *:last-child {
  margin-right: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_116 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_136 {
  width: 105.68212890625023px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_136 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_136 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_136 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_136 span#rtr-s-Paragraph_136_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_117 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_117 td.layout {
  padding: 0px 0px 0px 18px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_117 .verticalalign {
  vertical-align: middle;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_117 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_117 {
  width: 100.0%;
  height: 33.333333333333314%;
  cursor: pointer;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_117 .Cell_117 > * {
  margin-right: 15px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_117 .Cell_117 > *:last-child {
  margin-right: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Cell_117 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_155 {
  width: 169.68212890625px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Basic_17.0.0_google',Arial;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_155 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_155 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_155 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 #s-Paragraph_155 span#rtr-s-Paragraph_155_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Basic_17.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-e76e2266-eaee-4ca7-9800-083cf1c780a1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}